# https://core.telegram.org/bots/faq#how-do-i-create-a-bot
TOKEN=
# https://beta.openai.com/account/api-keys
APIKEY=
# https://chat.openai.com/chat  (get your session_token from console)
SESSION=
# chatgpt as service port
PORT=8080
# openai email
OPENAI_EMAIL=
# openai password
OPENAI_PASSWORD=
# Bing TOKEN
BING_TOKEN=1wTolbrIMpROj-DuhhpwFvPlpI7fH8HUUdYWi61DgVxBzoLfDahSei05PRLWFsRWT6zmxiiiDu82_X-gqe9_rqcusYD3aVE-YV5QLkx6QATYt9urSr_tUeld7YiqnZovTjHZGkxEW24FtSh8h-Nb7F86WAxrPYSATRPAJnpbLr6p76fGN9QZufe1JdeET2Qd_lvPpjaaTTNU8DPp6TxYQ-g
